{% extends 'base/layout.html' %}
{% load static %}
{{msg}}

{% block content %}
{% if messages %}
{% for message in messages %}
        <div class="alert {% if message.tags %} alert-{{message.tags}} 
        {% endif %}" role="alert">{{message}}</div>
{% endfor %}
{% endif %}
<div class="container">
        <form action="" method="POST" class ="mt-4">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Search" class="btn btn-info">
        </form>
</div>
{% if result %}
{% for r in result %}
{{ r.student_name }}
<br>
<a href="delete-student/{{r.id}}">DELETE</a>
<br>
{% endfor %}
{% endif %}